@font-face {
	font-family: hankenGrotesk;
	src: URL(assets/fonts/HankenGrotesk-VariableFont_wght.ttf)
}

* {
	font-family: hankenGrotesk, Arial, Helvetica, sans-serif !important;
	margin: 0px;
	padding: 0px;
}

.center {
	text-align: center;
}

.white {
	color: white;
}

.black {
	color: #303b59;
}

.gray {
	color: #9793a1;
}

.pink-gray {
	color: #e2d6ff;
}

.red {
	color: #ff5555;
}

.green {
	color: #00bb8f;
}

.yellow {
	color: #ffb21e;
}

.bg-red {
	background-color: #fff6f5;
}

.bg-yellow {
	background-color: #fffbf2;
}

.bg-green {
	background-color: #f2fbfa;
}

.bg-blue {
	background-color: #f3f3fd;
}

#result-summary-card {
	display: flex;
	overflow: hidden;
}

#section-result {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	background: linear-gradient(180deg, #6743fd 0%, #312ce9 100%);
}

#result-score {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#score-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#score-circle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg, #4d22cb 0%, rgba(74, 38, 208, 0) 100%);
	border-radius: 999px;
}

#section-summary {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

#summary-detail {
	display: flex;
	flex-direction: column;
}

#summary-detail-list {
	display: flex;
	flex-direction: column;
}

.summary-item {
	display: flex;
	justify-content: space-between;
	border-radius: 8px;
}

.summary-item-label {
	display: flex;
	align-items: center;
	gap: 12px;
}

.summary-item-score {
	display: flex;
	align-items: center;
	gap: 6px;
}

button {
	border: none;
	padding: 16px 106px;
	background-color: #303b59;
	color: white;
	border-radius: 999px;
}

button:hover {
	background: linear-gradient(180deg, #6743fd 0%, #312ce9 100%);
}

/* DESKTOP */
@media (min-width: 800px) {
	* {
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
	}

	body {
		min-height: 100vh;
		display: grid;
		place-items: center;
	}

	.txt-score {
		font-weight: 800;
		font-size: 72px;
		line-height: 72px;
	}

	.txt-score-title {
		font-weight: 700;
		font-size: 32px;
		line-height: 100%;
	}

	.txt-title {
		font-weight: 700;
		font-size: 24px;
		line-height: 100%;
	}

	#result-summary-card {
		flex-direction: row;
		width: 736px;
		border-radius: 32px;
		box-shadow: 0px 16px 80px -32px rgba(17, 37, 214, 0.4);
	}

	#section-result {
		gap: 40px;
		padding: 42px 56px 56px 56px;
		border-radius: 32px;
		width: 50%;
	}

	#result-score {
		gap: 30px;
	}

	#score-detail {
		gap: 18px;
	}

	#score-circle {
		width: 200px;
		height: 200px;
	}

	#section-summary {
		gap: 40px;
		padding: 40px 40px 0px 40px;
		width: 50%;
	}

	#summary-detail {
		gap: 32px;
	}

	#summary-detail-list {
		gap: 18px;
	}

	.summary-item {
		padding: 16px;
	}
}

/* MOBILE */
@media (max-width: 800px) {
	* {
		font-size: 16px;
		line-height: 20.85px;
	}

	body {
		position: relative;
	}

	.txt-title {
		font-size: 18px;
		line-height: 100%;
	}

	.txt-score {
		font-size: 56px;
		line-height: 80px;
	}

	.txt-score-title {
		font-weight: 700;
		font-size: 24px;
		line-height: 24px;
	}

	#result-summary-card {
		flex-direction: column;
		width: 375px;
		border-radius: 0px;
	}

	#section-result {
		width: 100%;
		gap: 24px;
		padding: 28px 60px 40px;
		border-radius: 0px 0px 32px 32px;
	}

	#result-score {
		gap: 28px;
	}

	#score-circle {
		width: 140px;
		height: 140px;
	}

	#score-detail {
		gap: 14px;
	}

	#section-summary {
		width: 100%;
		padding: 24px 32px;
		gap: 26px;
	}

	#summary-detail {
		gap: 28px;
	}

	#summary-detail-list {
		gap: 20px;
	}

	.summary-item {
		padding: 16px;
	}
}
